/* Color Palette */

$zenika-color: rgb(179, 24, 53);
$zenika-color-transparency: rgba(179, 24, 53, 0.6);
$light-grey-color: #ccc;
$grey-color: #333;
$black-color: #222;

$green-button-color: rgba(65, 184, 131, 0.6);
$red-button-color: rgba(223, 46, 49, 0.6);
$blue-button-color: rgba(128, 180, 227, 0.6);
$yellow-button-color: rgba(244, 197, 71, 0.6);

/* Global */

$section-content-width: 70%;
$section-title-size: 48px;
$section-title-size-mobile: 32px;
$section-subtitle-size: 28px;
$section-subtitle-size-mobile: 24px;
$title-font-size: 2.2rem;
$description-font-size: 1.2rem;

/* Navbar */

$nav-bar-font-size: 25px;
$nav-bar-item-pad-side: 30px;
$nav-bar-item-marg-top: 30px;

/* Header Section */

$header-title-font-size: 100px;
$header-subtitle-font-size: 40px;
$header-svg-height: 120px;

$header-title-font-size-mobile: 80px;
$header-subtitle-font-size-mobile: 30px;

/* Events Section */

$events-list-column-width: 500px;
$event-wrapper-width: 425px;
$event-member-pic-size: 100px;

$organisation-pic-max-height: 50px;
$organisation-pic-max-width: 150px;

/* Team Section */

$team-wrapper-width: 300px;
$team-member-pic-size: 200px;

/* Zenbox Section */

$zenbox-item-min-height: 56px;
$selected-zenbox-category-wrapper-height: 700px;
$zenbox-category-icon-max-height: 200px;
